body{
    background-color: rgb(91, 222, 222);
    margin:0px;
    padding:0px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
}

#container{
    display:flex;
    margin: 20px 50px 50px 50px;
    width:100%;
    height:700px;

    
}
div #signup{
    border-radius: 5px;
    align-self: center;
    background-color: #fff;
    text-align: center;
    height:75%;
    width:400px;
    margin:0 20px 0 20px;

}



input{
    display:block;
    border:1px solid rgb(91, 222, 222);
    border-radius: 5px;
    
    
}

 #username,#email,#password,#confirmPassword,#full-name{
    width:80%;
    margin:10px 0 20px 30px;
    padding:10px;
    max-height: 30px;
    

    
}

#signbutton{
    background-color: rgb(72, 194, 194);
    text-align: center;
    font-size:16px;
    height:35px;
    width:85%;
    margin:10px 0 0 30px;

}

#signbutton:hover{
    background-color: rgb(32, 78, 78);
}
    
p #sign{
    margin-top:20px;
}
p a{
    text-decoration: none;
    color:rgb(91, 222, 222);
}
a:hover{
    color:rgb(32, 78, 78);
}

div#login{
    border-radius:5px;
    align-self:center;
    background-color: #fff;
    height:45%;
    width:280px;
    margin-left:40px;
    text-align:center;

}

#name{
    
    width:80%;
    max-height: 30px;
    margin:auto;
    padding:10px;
}
#passWord{
    margin:15px  auto 0 auto;
    width:80%;
    padding:10px;

}

#submit{
    margin:15px auto 0 auto;
    width: 88%;
    height:30px;
    background-color: rgb(91, 222, 222);
}
#submit:hover{
    background-color: rgb(32, 70, 70);
}
@media (max-width:768px){
    #container{
    display:flex;
    flex-direction: column;
    }
    div #login{
        margin-top:30px;
    }

}
@media (max-width:320px){
    #container{
        max-width: 320px;
    
    }
    #signup{
        margin:auto;
    }
    #login{
        margin-bottom: 10px;
    }

    


}



